/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

Inside media queries 1em is always 16px i.e 1em = 16px at every screen size only inside media queries
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 59%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 65%; } }

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Source Sans Pro', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none; }

button {
  border: none;
  cursor: pointer; }

textarea {
  resize: none; }

.header {
  background-color: transparent;
  padding: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header .logo {
    width: 70px;
    height: 35px; }

.mobile-menu {
  position: fixed;
  background: #FFF;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10%; }
  .mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .mobile-menu-logo {
    width: 70px;
    height: 35px; }
  .mobile-menu-close-button {
    font-size: 30px; }
  .mobile-menu-options {
    padding-left: 20px;
    display: flex;
    flex-direction: column; }
