.header {
  background-color: transparent;
  padding: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 70px;
    height: 35px;
  }
}

.mobile-menu {
  position: fixed;
  background: #FFF;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10%;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    width: 70px;
    height: 35px;
  }

  &-close-button {
    font-size: 20px;
  }

  &-options {
    padding: 30px 0 20px 20px;
    display: flex;
    flex-direction: column;
  }

  &-contact {
    padding: 20px;

    li:first-child {
      text-transform: uppercase;
      color: #cbc9e2;
    }
  }

}