@font-face {
    font-family: "MontSerrat-Black";
    src: url("/assets/fonts/Montserrat/static/Montserrat-Black.ttf");
}

@font-face {
    font-family: "MontSerrat-BlackItalic";
    src: url("/assets/fonts/Montserrat/static/Montserrat-BlackItalic.ttf");
}

@font-face {
    font-family: "MontSerrat-Bold";
    src: url("/assets/fonts/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "MontSerrat-BoldItalic";
    src: url("/assets/fonts/Montserrat/static/Montserrat-BoldItalic.ttf");
}

@font-face {
    font-family: "MontSerrat-ExtraBold";
    src: url("/assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf");
}

@font-face {
    font-family: "MontSerrat-ExtraBold";
    src: url("/assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf");
}

@font-face {
    font-family: "MontSerrat-ExtraBoldItalic";
    src: url("/assets/fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: "MontSerrat-ExtraLight";
    src: url("/assets/fonts/Montserrat/static/Montserrat-ExtraLight.ttf");
}

@font-face {
    font-family: "MontSerrat-ExtraLightItalic";
    src: url("/assets/fonts/Montserrat/static/Montserrat-ExtraLightItalic.ttf");
}

@font-face {
    font-family: "MontSerrat-Italic";
    src: url("/assets/fonts/Montserrat/static/Montserrat-Italic.ttf");
}

@font-face {
    font-family: "MontSerrat-Light";
    src: url("/assets/fonts/Montserrat/static/Montserrat-Light.ttf");
}

@font-face {
    font-family: "MontSerrat-LightItalic";
    src: url("/assets/fonts/Montserrat/static/Montserrat-LightItalic.ttf");
}

@font-face {
    font-family: "MontSerrat-Medium";
    src: url("/assets/fonts/Montserrat/static/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "MontSerrat-MediumItalic";
    src: url("/assets/fonts/Montserrat/static/Montserrat-MediumItalic.ttf");
}

@font-face {
    font-family: "MontSerrat-Regular";
    src: url("/assets/fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "MontSerrat-SemiBold";
    src: url("/assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "MontSerrat-SemiBoldItalic";
    src: url("/assets/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "MontSerrat-Thin";
    src: url("/assets/fonts/Montserrat/static/Montserrat-Thin.ttf");
}

@font-face {
    font-family: "MontSerrat-ThinItalic";
    src: url("/assets/fonts/Montserrat/static/Montserrat-ThinItalic.ttf");
}