.presentation {
    height: 100vh;

    &_texts {
        height: 80%;
        padding: 20vh 50px 0 50px;
        background: #4831d4;

        &_title {
            max-width: 280px;

            >h1 {
                font-size: 5em;
                line-height: 1.1;
                margin-bottom: .5em;
                color: #ccf381;
            }

            >h2 {
                font-size: 2em;
                color: #FFF;
            }
        }

        &_subtitle {
            margin-top: 40px;
            display: flex;

            >p {
                display: block;
                max-width: 170px;
                font-size: 1.2em;
                color: #FFF;

                &:first-child {
                    margin-right: 25px;
                }

            }
        }
    }

    &_profile {
        background-color: #ccf381;
        display: flex;
        align-items: center;
        padding: 40px 0;

        img {
            margin: 0 auto;
            max-width: 200px;
        }
    }

}



@include respond(tab-port) {
    .presentation {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        &_texts {
            height: 100%;
            grid-column: 1 / 3;
        }

        &_profile {
            position: relative;
            grid-column: 3 / 4;

            >img {
                position: absolute;
                left: -50px;
                z-index: 2;
            }
        }
    }
}

@include respond(tab-land) {
    .presentation {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        &_texts {
            height: 100%;
            grid-column: 1 / 3;
        }

        &_profile {
            position: relative;
            grid-column: 3 / 4;

            >img {
                position: absolute;
                left: -50px;
                z-index: 2;
            }
        }
    }
}

@include respond(big-desktop) {
    .presentation {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        &_texts {
            height: 100%;
            grid-column: 1 / 3;
        }

        &_profile {
            position: relative;
            grid-column: 3 / 4;

            >img {
                position: absolute;
                left: -50px;
                z-index: 2;
            }
        }
    }
}